<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="Zhen Wei">
	    <link rel="icon" href="/images/icons/favicon.jpg">
	    <title>Add Menu Item</title>
	</head>

	<body ng-app="angularApp">
		<table style="width:100%" ng-controller="AddMenuController">
			<tr>
				<td colspan="2">
					<form ng-submit="addMenuZoon()">
						<fieldset style="width:400px">
							<legend>Add Zone:</legend>
							name:<br>
							<input type="text" name="zone_name" ng-model="addZone.name">
							<br>
							description:<br>
							<textarea cols="50" rows="5" name="zone_description" ng-model="addZone.description"></textarea>
							<br><br>
							<input type="submit" value="Add">
						</fieldset>
					</form>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<form ng-submit="addMenuItem()">
						<fieldset style="width:200px">
							<legend>Add Menu Item:</legend>
							name:<br>
							<input type="text" name="name" ng-model="addItem.name">
							<br>
							type:<br>
							<input type="text" name="type" ng-model="addItem.type">
							<br>
							restaurant:<br>
							<input type="text" name="restaurant" ng-model="addItem.restaurant">
							<br>
							cal:<br>
							<input type="text" name="cal" ng-model="addItem.cal">
							<br>
							price:<br>
							<input type="text" name="price" ng-model="addItem.price">
							<br>
							zone:<br>
							<input type="text" name="zone" ng-model="addItem.zone">
							<br>
							imgURL:<br>
							<input type="text" name="imgURL" ng-model="addItem.imgURL">
							<br><br>
							<input type="submit" value="Add">
						</fieldset>
					</form>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <!-- Latest compiled and minified JavaScript -->
	    <!-- Custom template scripts -->
	  	<!-- Lastest version of angular.js -->
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.js"></script>
	  	<!-- include the angular js files -->
	  	<script src="/javascripts/AngularJS/angularApp.js"></script>
	    <!-- include the angular js controllers js files -->
	    <script src="/javascripts/AngularJS/controllers/AddMenuController.js"></script>
	    <!-- include the angular js directives js files -->
	    <script src="/javascripts/AngularJS/services/AddMenuServices.js"></script>
	    <!-- include the angular js services js files -->
	    <!-- include other js files -->
	</body>
</html>
