<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="Zhen Wei">
	    <link rel="icon" href="/images/icons/favicon.jpg">
	    <title><%= title %></title>

	  	<!-- Latest compiled and minified CSS -->
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  	<!-- Optional theme -->
	  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	    <!-- Fonts -->
	    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Wire+One">
		
	    <!-- Custom styles -->
	    <link rel="stylesheet" href="/stylesheets/magister/magister.css">
	    <link rel="stylesheet" href="/stylesheets/order_box.css">
	</head>

	<body class="theme-invert text-shadows" ng-app="angularApp">
		<section class="section" id="head">
	     	<div class="container">
	      		<!--<h2 class="text-center title">Make Your Order</h2>-->
        		<h2 class="text-center subtitle">Step 2: Build your bento</h2>
				<div class="row thumbnail">
					<div class="col-md-5" id="orders">
						<div class="row thumbnail" style="margin-top:50px;">
							<div class="col-sm-5">
								<img id="select-entress-image" class="img-responsive" src="/images/menu_pics/dongporou.jpg" alt="Generic placeholder image">
							</div>
							<div class="col-sm-7">
								<div class="row">
					    			<div class="col-sm-6">
					    				<p id="select-entress-name" class="menu-title">Dongpo Pork</p>
					    			</div>
					    			<div clss="col-sm-6">
					    				<p id="select-entress-price" class="menu-price">$12.99</p>
					    			</div>
					    		</div>
					    		<div class="row">
					    			<div class="col-sm-6">
            							<div class="thumbnail">
            								<img id="select-side1-image" src="/images/menu_pics/dongporou.jpg" alt="">
            								<div class="caption">
								                <p id="select-side1-name" class="menu-subtitle-xs">Side 1</p>
								            </div>
            							</div>
            						</div>
            						<div class="col-sm-6">
            							<div class="thumbnail">
            								<img id="select-side2-image" src="/images/menu_pics/dongporou.jpg" alt="">
            								<div class="caption">
								                <p id="select-side2-name" class="menu-subtitle-xs">Side 2</p>
								            </div>
            							</div>
            						</div>
					    		</div>
					    		<div class="row">
					    			<div class="col-sm-6">
            							<div class="thumbnail">
            								<img id="select-staple-image" src="/images/menu_pics/dongporou.jpg" alt="">
            								<div class="caption">
								                <p id="select-staple-name" class="menu-subtitle-xs">Rice</p>
								            </div>
            							</div>
            						</div>
					    		</div>
					    		<div class="row">
					    			<div class="col-sm-6">
					    				<a id="pay-submit" type="button" class="btn btn-info disabled" href="">Pay Now</a>
					    			</div>
					    			<div class="col-sm-6">
					    				<a id="add-to-cart" type="button" class="btn btn-warning disabled" href="">Add to Cart</a>
					    			</div>
					    		</div>
							</div>
						</div>
					</div>
					<div class="col-md-7" id="menus">
						<ul class="nav nav-tabs">
						  <li id="entrees-tab" class="active"><a data-toggle="tab" href="#entrees">Entrees</a></li>
						  <li id="sides-tab"><a data-toggle="tab" href="#sides">Sides</a></li>
						  <li id="staples-tab"><a data-toggle="tab" href="#staple">Staples</a></li>
						</ul>

						<div class="tab-content" ng-controller="MenuController">
						  	<div id="entrees" class="tab-pane fade in active">
						  		<div class="row thumbnail" ng-repeat="Item in entrees">
							    	<entrees-menu cuisine="Item"></entrees-menu>
							    </div>
							    <!-- <div class="row thumbnail" ng-repeat="cuisine in entrees">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" ng-src="{{cuisine.imgUrl}}" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">{{cuisine.name}}</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">{{cuisine.restrand}}</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">{{cuisine.cal}}</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">{{cuisine.price | currency}}</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">{{cuisine.imgUrl}}</div>
							    					<div class="hidden name">{{cuisine.name}}</div>
							    					<div class="hidden price">{{cuisine.price | currency}}</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div> -->
						    	<!-- <div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/dongporou.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Dongpo Pork</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">Dimming Garden</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/dongporou.jpg</div>
							    					<div class="hidden name">Dongpo Pork</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
							    <div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/kaoya.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Peking Duck</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">Dimming Garden</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/kaoya.jpg</div>
							    					<div class="hidden name">Peking Duck</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
							    <div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/mapuodoufu.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Mapo Tofu</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">Dimming Garden</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/mapuodoufu.jpg</div>
							    					<div class="hidden name">Mapo Tofu</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
							    <div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/yangpai.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Lamp</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">Dimming Garden</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/yangpai.jpg</div>
							    					<div class="hidden name">Lamp</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
							    <div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/zuozongji.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">General Source Chicken</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">Dimming Garden</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/zuozongji.jpg</div>
							    					<div class="hidden name">General Source Chicken</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
							    <div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/hongshaoji.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Chicken</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-subtitle">Dimming Garden</p>
							    			</div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="entrees-submit" type="button" class="btn btn-success entrees-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/hongshaoji.jpg</div>
							    					<div class="hidden name">Chicken</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div> -->
						  	</div>
						  	<div id="sides" class="tab-pane fade">
						    	<div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/hongshaoji.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Hongshao Chicken</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9"></div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="sides-submit" type="button" class="btn btn-success sides-submit" data-toggle="tab" href="#sides">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/hongshaoji.jpg</div>
							    					<div class="hidden name">Hongshao Chicken</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
						  	</div>
						  	<div id="staple" class="tab-pane fade">
						    	<div class="row thumbnail">
							    	<div class="col-sm-4">
							    		<img class="img-responsive" src="/images/menu_pics/hongshaoji.jpg" alt="Generic placeholder image">
							    	</div>
							    	<div class="col-sm-8">
							    		<div class="row">
							    			<div class="col-sm-6">
							    				<a class="menu-title">Dongpo Pork</a>
							    			</div>
							    			<div clss="col-sm-6">
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9"></div>
							    			<div clss="col-sm-3">
							    				<p class="menu-subtitle">1000 Cal</p>
							    			</div>
							    		</div>
							    		<div class="row">
							    			<div class="col-sm-9">
							    				<p class="menu-price">$12.99</p>
							    			</div>
							    			<div class="col-sm-3">
							    				<a id="staple-submit" type="button" class="btn btn-success staple-submit" data-toggle="tab" href="#staple">
							    					Get It
							    					<div class="hidden image">/images/menu_pics/zuozongji.jpg</div>
							    					<div class="hidden name">Noodle</div>
							    					<div class="hidden price">$12.99</div>
							    				</a>
							    			</div>
							    		</div>
							    	</div>
							    </div>
						  	</div>
						</div>
					</div>
				</div>
				<p class="tagline text-center"><a href="/" id="order-cancel" class="btn btn-default btn-lg cancel">Cancel</a></p>
			</div>
		</section>



		<!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <!-- Latest compiled and minified JavaScript -->
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script src="/javascripts/magister/modernizr.custom.72241.js"></script>
	    <!-- Custom template scripts -->
	    <script src="/javascripts/magister/magister.js"></script>
	  	<!-- Lastest version of angular.js -->
	  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	  	<!-- include the angular js files -->
	  	<script src="/javascripts/AngularJS/angularApp.js"></script>
	    <!-- include the angular js controllers js files -->
	    <script src="/javascripts/AngularJS/controllers/MenuController.js"></script>
	    <!-- include the angular js directives js files -->
	    <script src="/javascripts/AngularJS/directives/MenuDirective.js"></script>
	    <!-- include the angular js services js files -->
	    <!-- include the firebase angular library js files -->
	    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
	    <!-- include the firebase js files -->
	    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
	    <!-- include other js files -->
	    <script src="/javascripts/GUI/orders.js"></script>
	</body>
</html>